.image-with-description-container {
  width: 70%;
  min-height: 500px;
  border-radius: var(--1, 8px);
  background: var(--grey-10, #f8f8f8);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  flex-direction: column;
  row-gap: 20px ;
}
